<div *ngIf="!selectedImage">
   <div class="container">
    <div class="row">
      <div *ngFor="let image of images" class="col-md-4 imgStyle" (click)="onSelect(image)">
        <app-images [imageRec]=image></app-images>
      </div>
    </div> 
   </div>
</div>

<div *ngIf="selectedImage">
  <div style="float: right; margin-right: 70px;">
    <button (click)="onClear()" >Back</button>
    <br><br>
      <fb-like url={{selectedImage.path}}></fb-like><br>
  </div>
  <br>
    <div style="text-align: center;">
      <app-images [imageRec]=selectedImage></app-images>
    </div>
  
  
</div>