<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nav>
  <a routerLink="">Dashboard</a>
  &nbsp;
  <a routerLink="/imagegallery">Image Gallery</a>
  &nbsp;
  <a routerLink="/contact">Contact</a>
</nav>
<router-outlet></router-outlet>
