<div *ngIf="!imageRec.isFull">
	<img width="300" height="300" alt="Angular Logo" src="{{imageRec.path}}"> 
</div>


<div *ngIf="imageRec.isFull" style="text-align: center; margin: 20px;" >
	<h1 >Selected Image: {{imageRec.name}}</h1>
	<img src="{{imageRec.path}}">
</div>


<!-- <div *ngIf="selectedImage">
	<h2>Selected Image: {{selectedImage.name}}</h2>
	<img src="{{selectedImage.path}}">
</div> -->


